# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# production
build/
dist/

# env files
.env*.local
.env

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# testing
coverage/

# generated PDFs
output/

# IDE
.vscode/
.idea/

# vercel
.vercel/
.vercel
